<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Values</title>
</head>
<body>
    <h1>Enter in Values for model to predict Total Estimate</h1>
    <form method="POST">
        <label>Material Cost: <input type="text" name="val1"></label><br>
        <label>Labor Cost: <input type="text" name="val2"></label><br>
        <label>Profit Rate: <input type="text" name="val3"></label><br>
        <label>Discount or Markup: <input type="text" name="val4"></label><br>
        <label>Policy Reason: <input type="text" name="val5"></label><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
